[submodule "sfguide-supply-chain-network-optimization"]
	path = sfguide-supply-chain-network-optimization
	url = https://github.com/Snowflake-Labs/sfguide-supply-chain-network-optimization
[submodule "sfguide-solution-installation-wizard"]
	path = sfguide-solution-installation-wizard
	url = https://github.com/Snowflake-Labs/sfguide-solution-installation-wizard
[submodule "sfguide-alert-hub"]
	path = sfguide-alert-hub
	url = https://github.com/Snowflake-Labs/sfguide-alert-hub
[submodule "sfguide-application-control-framework"]
	path = sfguide-application-control-framework
	url = https://github.com/Snowflake-Labs/sfguide-application-control-framework
[submodule "sfguide-data-crawler"]
	path = sfguide-data-crawler
	url = https://github.com/Snowflake-Labs/sfguide-data-crawler
[submodule "sfguide-cohort-builder"]
	path = sfguide-cohort-builder
	url = https://github.com/Snowflake-Labs/sfguide-cohort-builder
[submodule "sfguide-getting-started-with-api-enrichment-framework"]
	path = sfguide-getting-started-with-api-enrichment-framework
	url = https://github.com/Snowflake-Labs/sfguide-getting-started-with-api-enrichment-framework
[submodule "sfguide-getting-started-with-data-quality-manager"]
	path = sfguide-getting-started-with-data-quality-manager
	url = https://github.com/Snowflake-Labs/sfguide-getting-started-with-data-quality-manager
[submodule "sfguide-build-and-deploy-snowpark-ml-models-using-streamlit-snowflake-notebooks"]
	path = sfguide-build-and-deploy-snowpark-ml-models-using-streamlit-snowflake-notebooks
	url = https://github.com/Snowflake-Labs/sfguide-build-and-deploy-snowpark-ml-models-using-streamlit-snowflake-notebooks
